.main {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

a:link, a:visited,
a:hover, a:active {
    color: #58B;
    background-color: #F0F8FF;
    text-decoration: none;
}

.info {
    margin: 1em 0.5em;
    border-radius: 2px;
    background-color: #DEF;
    padding: 1em;
    color: #369;
}

.pure-form fieldset {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

textarea {
    resize: vertical;
}

textarea, textarea + div {
    min-height: 5em;
    font-size: 1.5em;
}

textarea + div {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #CCC;
    box-shadow: 0 1px 3px #DDD inset;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    white-space: pre-wrap;
}

.disclaimer {
    margin-top: 5em;
    padding: 1em 1.5em;
}

.disclaimer h2 {
    margin: 0.5em 0 0;
}

@media screen and (max-width: 48em) {

    .main {
        width: auto;
        margin: 0 1em;
    }

    h1 {
        text-align: center;
    }

}